.header {
    text-align: center;
}


.left {
    border: 1px solid red;
    width: 45%;
}

.left p {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* margin-left: 10px; */
}

.basic_title {
    font-weight: bold;
}

.entry_table1 {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.table2{
    display: flex;
    border: 1px solid blue;
    justify-content: space-between;
}